---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}
              {% if page.cv_fr_pdf %}
              <a href="{{ page.cv_fr_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right">
                <i class="fas fa-file-pdf"></i>
                <span style="font-size: medium">
                  (fr)
                </span>
              </a>
              {% endif %}

              {% if page.cv_en_pdf %}
              <a href="{{ page.cv_en_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right">
                <i class="fas fa-file-pdf"></i>
                <span style="font-size: medium">
                  (en)
                </span>
              </a>
              {% endif %}
            </h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            <div class="cv">
              {% for entry in site.data.cv %}
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
                  <div>
                  {% if entry.type == "list" %}
                    {% include cv/list.html %}
                  {% elsif entry.type == "map" %}
                    {% include cv/map.html %}
                  {% elsif entry.type == "nested_list" %}
                    {% include cv/nested_list.html %}
                  {% elsif entry.type == "time_table" %}
                   {% include cv/time_table.html %}
                  {% else %}
                    {{ entry.contents }}
                  {% endif %}
                  </div>
                </div>
              {% endfor %}
              </div>
          </article>

        </div>
